* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3d1de;
    font-family: Arial, sans-serif;
    color: #1f2937;
}

header {
    background-color: #0ea5e9;
    text-align: center;
    color: white;
    padding: 45px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    margin-bottom: 15px;
    font-size: 36px;
}

header p {
    font-size: 18px;
}

.nav {
    background-color: #418cbe;
    margin: 30px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0px;
    margin: 0px 20px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.nav a:hover {
    background-color: #0284c7;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
}

main {
    padding: 20px;
    padding-bottom: 80px;
}

.first-session {
    background-color: white;
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 40px;
}

.first-session h2,
.second-session h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.first-session p,
.second-session ul li {
    font-size: 17px;
    line-height: 1.6;
}

.second-session {
    background-color: #7ecbcf;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 30px;
    border-left: 6px solid blue;
}

.second-session ul {
    list-style-type: none;
}

.second-session ul li {
    padding-bottom: 15px;
}

.second-session ul li:before {
    content: "✓";
    padding: 0px 5px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 35px 20px;
    color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer .footer-p,
footer p {
    font-size: 18px;
}

footer .footer-p {
    margin-bottom: 15px;
}